<div class="backdrop js-backdrop is-hidden">
  <div class="modal-comics">
    <button type="button" class="madal-close js-modal-close" data-modal-close>
              <use href="./img/modal-characters/icons.svg#icon-close-modal">
      </svg>
    </button>

    <div class="modal-comics-preview">
      <img src="" alt="">
      <ul class="modal-comics-preview-items">
        <li class="items"><img src="" alt=""></li>
        <li class="items"><img src="" alt=""></li>
        <li class="items"><img src="" alt=""></li>
      </ul>
    </div>
    <div>
      
    </div>




  </div>
</div>
