/* Shared */


.backdrop {
  position: fixed;
  top: 0;

  width: 100%;
  height: 100%;

  /* background-color: hsla(237, 42%, 35%, 0.732); */
  background-color: #171717;
}

.modal {
  position: absolute;
  top: 0;
  /* top: 50%;
  left: 50%; */

  min-width: 100%;
  height: 100%;
  background-color: black;

  /* transform: translate(-50%, -50%); */
}

.madal-close {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;

  background-color: transparent;
  border: none;

}

.icon-modal-close {
  width: 20px;
  height: 20px;
  fill: white;
}



.modal-comics {
  position: relative;
  width: 1000px;
  height: 842px;

  padding-top: 64px;
  padding-bottom: 64px;
  padding-right: 32px;
  padding-left: 32px;

  background-color: #0C0B0B;
  border-radius: 8px;

}



.modal-comics-preview {
  max-width: 332px;
  display: inline-block
}

.modal-preview-img {
  /* position: absolute; */
  /* width: 332px; */
  /* height: 445px; */
  /* left: 32px; */
  /* top: 64px; */

  background-color: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 8px;

}

.modal-comics-preview-items {
  display: flex;
  gap: 8px;
  /* width: 500px; */


  /* background: #FFFFFF; */

}

.modal-comics-preview-items .items {
  border-radius: 8px;
}

.modal-comics-desc {
  display: block;
  color: rgba(250, 250, 250, 0.5);
  color: red;
  text-align: center;
}