body {
  margin: 0;
  padding: 0;
}

.backdrop {
  /* position: fixed; */
  top: 0;

  width: 100%;
  height: 100%;

  /* background-color: hsla(237, 42%, 35%, 0.732); */
  background-color: #171717;
}

.modal {
  position: absolute;
  top: 0;
  /* top: 50%;
  left: 50%; */

  min-width: 100%;
  height: 100%;
  background-color: black;

  /* transform: translate(-50%, -50%); */
}

.madal-close {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;

  background-color: transparent;
  border: none;


}

.icon-modal-close {
  width: 20px;
  height: 20px;
  fill: white;
}

/* .is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */